/* 
    Created on : Nov 6, 2021, 12:58:59 AM
    Author     : ricardo
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

.status_code {
    color: red;
}

.main-nav ul {
    padding: 1em 0;
    list-style-type: none;
}