/* 
    Created on : Nov 6, 2021, 12:58:59 AM
    Author     : ricardo
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,300;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

header {
    background-color: #ccc;
    padding: 12px;
    display: flex;
}

ul {
    list-style-type: none;
}

ul li {
    display: block;
    padding: 12px 0px;
}

hr {
    color: #eee;
}

nav.main-nav ul {
    display: flex;
}

nav.main-nav ul li {
    padding: 10px 12px;
}

nav.main-nav ul li a {
    padding: 12px;
    text-decoration: none;
}

a.logo {
    background-color: #000;
    color: #eee;
    padding: 12px;
}

aside {
    background-color: #eee;
    padding: 12px;
}

main {
    padding: 12px;
}

footer {
    background-color: #ccc;
    padding: 12px;
}