{# templates/home_page.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    {% include '_includes/header.html.twig' %}
    <div class="center">
        {% include '_includes/aside.html.twig' %}
        <main>
            {% for message in app.flashes('success') %}
                <div>{{ message }}</div>
            {% endfor %}
            <h1>home page</h1>
        </main>
    </div>
    {% include '_includes/footer.html.twig' %}
{% endblock %}