{# templates/home_page.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}
    <h1>home page</h1>
{% endblock %}