{# templates/sign_up.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    {% for message in app.flashes('success') %}
        <div>{{ message }}</div>
    {% endfor %}
    <h1>sign up form</h1>
    <div>{{ form(form) }}</div>
{% endblock %}