{# templates/sign_up.html.twig #}

{% extends "base.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <h1>Sign Up Form</h1>
    <div>{{ form(form) }}</div>
{% endblock %}